.root {
    -fx-background-color:#4CAF50 ;
}

.menu-bar {
    -fx-alignment: center;
    -fx-spacing: 10px;
}

.menu-bar-button {
    -fx-background-color: #4CAF50; /* Bakgrundsfärg */
    -fx-text-fill: white; /* Textfärg */
    -fx-font-size: 14px; /* Textstorlek */
    -fx-padding: 10px 20px; /* Inre fyllning */
}
